@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(45deg, #33a79e 45%, #008758 100%);
}
